
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
    background-color: #bdbdbd;
    font-family: Arial, sans-serif;
  }

  .container_contact {
    width:  90%;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .container_contact h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
    font-size: 24px;
  }

  .container_contact label {
    display: block;
    margin-bottom: 10px;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
  }

  .container_contact input,
  .container_contact textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #f4f4f4;
    color: #333333;
    font-size: 14px;
    margin-bottom: 20px;
  }

  .container_contact textarea {
    resize: vertical;
    height: 100px;
  }
  #content{
     height: auto;
  }

  .container_contact button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #652e2e;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition-property: background-color, transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
  }
  
  .container_contact button:hover {
    background-color: #4d1414;
    transform: scale(1.03);
    transition-delay: 0.0001s;
  }.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
  }
  .main_conatct h2{
     text-align: center;
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-body {
    padding: 20px;
    background-color: #ffffff;
  }
  
  .card-body h5 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-body p {
    font-size: 14px;
    color: #666666;
  }
  
  .card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
  }
  .card{
    display: flex;
  }

  .main_conatct {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  
  .team {
    width: 50%;
  }
  
  .card {
    width: calc(50% - 1rem); /* 1rem là khoảng cách giữa các card */
    margin-bottom: 1rem;
  }
  .myTeam{
    margin-top: 200px;
    text-align: center;
  }