body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tfoot td {
    text-align: right;
    font-weight: bold;
  }
  
  .product-info {
    display: flex;
    align-items: center;
  }
  
  .product-info img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  
  .quantity-container {
    display: flex;
    align-items: center;
  }
  .quantity {
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
    background-color: white;
    padding: 5px;
    width: 25px;
    height: 15px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .quantity-button {
    padding: 5px 10px;
    background-color:orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .quantity {
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
  }
  .fa-trash-o {
    color: orange; /* Màu cam cho icon xóa */
  }
  
  .custom-checkbox {
    border: 2px solid orange;
    padding: 5px;
    border-radius: 5px;
  }
  
  #total-price {
    display: inline-block;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    
  }
  
  #buy-button {
    display: inline-block;
    margin-top: 20px;
    margin-left: 60px;
    padding: 10px;
    background-color:orange;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }