@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
    --white-color: #ffff;
    --black-color: #0000;
    --brown-light-color: #f8d8a9;
    --gray-light-color: #f6ebda;
    --orange-color: #ff902a;
    --orange-light-color: #f4ae26;
    --brown-dark: #2f2105;
    --font-size-heading1: 48px;
    --font-size-heading2: 32px;
    --font-size-heading3: 24px;
    --font-size-button: 14px;
    --font-size-paragraph: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    border-bottom: 2px solid #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);



}

/* .navbar .navbar_logo{
    margin-right: 10px;
    font-size: 22px;
    color: #ffff;
    font-weight: 600;
    text-decoration: none;
} */

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    flex-wrap: nowrap;
    transition: .5s;
}

.navbar ul li {
    list-style: none;
    transition: .5s;

}


.navbar ul li a {
    color: white;
    text-decoration: none;

    font-weight: 500;

    position: relative;
}

.navbar ul li a:hover {
    color: var(--orange-color);
    transition: border, color .5s;
    border-bottom: 2px solid white;
    transition: border 1.3s;
}

.navbar_menu-icon {
    display: none;
    width: 25px;
    height: 3px;
    background: white;
    transform: translateY(-60%);
    transition: 0.3s;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;


}

.navbar_menu-icon::before,
.navbar_menu-icon::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background: #fff;
    transition: 0.5s;
    border-radius: 5px;
    cursor: pointer;
}


.navbar_menu-icon::before {

    top: -8px;

}

.navbar_menu-icon::after {

    top: 8px;
}

.navbar_menu-icon.active {
    background: rgba(0, 0, 0, 0);

}


.navbar_menu-icon.active::before {
    top: 0;
    transform: rotate(45deg);

}

.navbar_menu-icon.active::after {
    top: 0;
    transform: rotate(135deg);

}

#icon1 {
    cursor: pointer;
}

/* .navbar_logo a{
    text-decoration: none;
    cursor: default;
    color: white;
} */
.material-icons {

    font-size: 30px;
    position: absolute;
    border-bottom: 2px solid none;
    left: -35px;
}

.material-icons-modify {
    left: calc(-5px + (-35px));
}

#ListPR1 {
    display: flex !important;
    scroll-padding-top: none;
    margin-top: 100px;

}









/* input search and icon search here */
.search-container {
    margin-right: 20px;
    width: 35%;
    display: flex;
    position: relative;

    border-radius: 10px;
    transition: .5s;

}


.search-container input[type="text"] {
    padding: 10px;
    position: relative;
    width: 90%;
    height: 40px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 16px;


}

.search-container input:focus {
    outline: 2px solid rgb(58, 227, 246);
}

.search-container button[type="submit"] {
    position: absolute;
    right: 0;
    width: 20%;
    cursor: pointer;
    height: 40px;
    border: none;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;


}
.search-container button:hover{
    background-color: #ff902a;
}





/* reponsive */
/* screen of mobile */
@media screen and (max-width: 767px) {
    .navbar ul {
        position: fixed;
        top: 90px;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        background: #468df0;
        transition: height 0.3s ease-in-out;
        flex-direction: column;
        border-radius: 3px;

    }

    .navbar ul li {
        width: 100%;
        text-align: center;
        border-bottom: 2px solid rgba(255, 255, 255, 0.353);
    }

    .navbar ul li a {
        font-size: 20px;
        line-height: 2;
    }

    .navbar ul.active {
        margin-top: -20px;

        height: 600px;
        transition: 0.3s;
    }

    .navbar_menu-icon {
        display: block;
        cursor: pointer;
    }




    .material-icons {
        position: absolute;
        left: -35px;
        margin-top: 5px;
    }

    .navbar__li--mobile {
        display: block;
    }



    .container__item:hover video::-webkit-media-controls-panel {
        display: flex !important;
    }

    .container__item {
        z-index: 1;
        /* đảm bảo video hiển thị dưới navbar */
        margin-bottom: 80px;

    }

    .material-icons--color {
        display: block;
    }

    .search-container button[type="submit"] {
        position: absolute;
        width: 40px;
        height: 100%;
        padding: 4px;
        cursor: pointer;
        transition: .5s;
        border-bottom-left-radius: none;
        border-top-left-radius: none;
    }

    .search-container button[type="submit"]:focus-within,
    .search-container button[type="submit"]:focus,
    .search-container button[type="submit"]:active {
        width: 100px;

    }

    .search-container input[type="text"] {
        width: 90%;
        opacity: 0;
        transform: translate(-50px);
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0 20px;
        outline: none;
    }

    .search-container {
        position: relative;
        left: 70px;
        display: flex;
        align-items: center;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        width: 40px;
        overflow: hidden;
        height: 40%;
        transition: .5s ease-in-out;


    }


    .search-container:focus-within {
        width: 50%;
        position: relative;
        left: 0;
    }

    .search-container:focus-within input {
        opacity: 1;
        transform: translate(0);
    }

    .search-container__input~i {
        opacity: 0;
        transform: translate(50px);
        transition: 0.5s;
    }

    .search-container__input:valid~i {
        opacity: 1;
        transform: translate(0);

    }

    #video {
        height: 260px;
        width: 100%;
        border-radius: 10px;

    }





}

/* screen of tablet */
@media screen and (min-width: 767px) and (max-width: 1024px) {
    .navbar ul {
        gap: 3.5rem;
    }

    .navbar .navbar_logo {
        font-size: 24px;
    }

    .material-icons {
        position: absolute;
        left: -35px;
        margin-top: -4px;
    }

    .search-container {
        width: 80%;
        transition: .5s;
    }

    .navbar ul {
        position: fixed;
        top: 90px;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        background: #468df0;
        transition: height 0.3s ease-in-out;
        flex-direction: column;
        border-radius: 3px;



    }

    .navbar ul li {
        width: 100%;
        text-align: center;
        border-bottom: 2px solid rgba(255, 255, 255, 0.353);
    }

    .navbar ul li a {
        font-size: 90%;
        line-height: 2;
    }

    .navbar ul.active {
        margin-top: -20px;
        height: 600px;
        transition: 0.3s;
    }

    .navbar ul li a {
        font-size: 20px;
        line-height: 2;
    }







}

/* screen of lap/desk top */
@media screen and (min-width: 1204px) {
    .navbar ul {
        gap: 4.5rem;

    }

    .navbar .navbar_logo {
        font-size: 24px;
    }

    .material-icons {
        position: absolute;
        left: -35px;
        margin-top: -4px;
    }

    .navbar ul li a {
        font-size: 100%;
        line-height: 2;
    }

    .material-icons {
        position: absolute;
        top: 3px;
    }

    #video {
        height: 23%;
        border-radius: 10px;
    }

    .container__item {

        height: 100px;
        width: 23%;
        border-radius: 10px;

    }

    .search-container {
        display: flex;


    }


}

.navbar_logo {
    width: 10%;
    height: 50px;
    text-decoration: none;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 100%;
    height: 50%;
    background: url(/images/img_icon/logo_coffe.svg) no-repeat;

}